<ion-view view-title="Página Inicial">
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <label for="imagem">Dados Pessoais</label>
        <img id="imagem" class="full-image" src="./img/imgIcon/user.png">
      </div>
      <div class="col col-50">
        <label for="imagem">Minhas Avaliações</label>
        <img class="full-image" src="./img/imgIcon/feedback.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <label for="imagem">Avaliar</label>
        <img class="full-image" src="./img/imgIcon/rate.jpg">
      </div>
      <div class="col col-50">
        <label for="imagem">Minhas Empresas</label>
        <img class="full-image" src="./img/imgIcon/company.jpg">
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <label for="imagem">Ajuda </label>
        <a href="#/app/help"><img class="full-image" src="./img/imgIcon/help.jpg"></a>
      </div>
      <div class="col col-50">
        <label for="imagem">Sair</label>
        <img class="full-image" src="./img/imgIcon/logout.png">
      </div>
    </div>
  </ion-content>
</ion-view>
